@use "../../../shared/ui/styles/variables.scss" as *;

.button {
    background-color: transparent;
    border: .125rem solid #f5f6fb;
    padding: .75rem 1.5rem;
    border-radius: 1rem;
    @include text(var(--black-text), .75rem, 700, 0.02em);
    width: 7.8125rem;
}