@use '../../../shared/ui/styles/variables.scss' as *;

.categoryReport {
    
    margin-bottom: 1.875rem;
    & > div {
        background-color: transparent;
        border-radius: 1.875rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: .4375rem 0;
        box-shadow: 0 .625rem 3.75rem 0 rgba(170, 178, 197, 0.2);
    }
    
    &__header {
        display: flex;
        gap: 1.125rem;
        justify-content: center;
        align-items: center;
        margin-top: 1.25rem;
    }
    
    &__arrowLeft {
        display: flex;
        align-items: center;
        background-color: transparent;
        width: 1.25rem;
        height: 1.25rem;
        transform: rotate(180deg);
        fill: var(--red-color);
    }
    
    &__title {
        @include text(var(--black-text), .875rem, 700, 0.02em);
    }
    
    &__arrowRight {
        display: flex;
        align-items: center;
        background-color: transparent;
        width: 1.25rem;
        height: 1.25rem;
        fill: var(--red-color);
    }
    
    &__list {
        margin-top: 1.25rem;
        margin-bottom: 1.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: .5rem;

    }
    
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        flex: 0 0 calc((100% - (5 * .9375rem)) / 3);
        gap: .9375rem;
        padding: 1.25rem 0;
        border-bottom: 2px solid #E0E5EB;
    }
    
    &__amount {
        @include text(var(--text), .75rem, 400, 0.02em);
    }
    
    &__iconWrapper {
        width: 3.6875rem;
        height: 2.875rem;
        background: #f5f6fb;
        border-radius: 1.25rem;
        transition: all 0.4s var(--animation);
    }

    @media (any-hover: hover) {
        &__iconWrapper:hover &__icon,
        &__iconWrapper:focus &__icon {
            fill: var(--red-color);
        } 
        
        &__iconWrapper:hover,
        &__iconWrapper:focus {
            background: #ffdac0;
        }
    }
    
    &__icon {
        width: 3.5rem;
        height: 3.5rem;
        transition: all 0.4s var(--animation);
    }
    
    &__categoryName {
        @include text(var(--text), .75rem, 400, 0.04em);
    }
}

@media (min-width: 47.99875em) { 
    .categoryReport {
    
        margin-bottom: 1.875rem;
        & > div {
            background-color: var(--bg);
            border-radius: 1.875rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: .4375rem 0;
            box-shadow: 0 .625rem 3.75rem 0 rgba(170, 178, 197, 0.2);
        }
        
        &__header {
            display: flex;
            gap: 1.125rem;
            justify-content: center;
            align-items: center;
            margin-top: 1.25rem;
        }
        
        &__arrowLeft {
            width: 1.25rem;
            height: 1.25rem;
            transform: rotate(180deg);
            fill: var(--red-color);
        }
        
        &__title {
            @include text(var(--black-text), .875rem, 700, 0.02em);
        }
        
        &__arrowRight {
            width: 1.25rem;
            height: 1.25rem;
            fill: var(--red-color);
        }
        
        &__list {
            margin-top: 1.25rem;
            margin-bottom: 1.875rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: .5rem;
    
        }
        
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            flex: 0 0 calc((100% - (5 * 1.875rem)) / 6);
            gap: .9375rem;
            padding: 0;
            border: none;
        }
        
        &__amount {
            @include text(var(--text), .75rem, 400, 0.02em);
        }
        
        &__iconWrapper {
            width: 3.6875rem;
            height: 2.875rem;
            background: #f5f6fb;
            border-radius: 1.25rem;
            transition: all 0.4s var(--animation);
        }
    
        @media (any-hover: hover) {
            &__iconWrapper:hover &__icon,
            &__iconWrapper:focus &__icon {
                fill: var(--red-color);
            } 
            
            &__iconWrapper:hover,
            &__iconWrapper:focus {
                background: #ffdac0;
            }
        }
        
        &__icon {
            width: 3.5rem;
            height: 3.5rem;
            transition: all 0.4s var(--animation);
        }
        
        &__categoryName {
            @include text(var(--text), .75rem, 400, 0.04em);
        }
    }
}