@use '../../ui/styles/variables.scss' as *;
.balance {
    display: flex;
    justify-content: center;
    gap: 2.5625rem;
    align-items: center;
    &__text {
        @include text(var(--text), .75rem, 500, 0.02em);
        text-transform: none;
    }
    
    &__form {
        display: flex;
        flex-direction: column;
        gap: .9375rem;
    }
    
    &__input {
        background-color: transparent;
        padding: 12px 20px;
        text-align: center;
        border: 2px solid #fff;
        border-radius: 16px;
        width: 125px;
        @include text(var(--black-text), .75rem, 700, 0.02em);
        position: relative;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    
    &__input::placeholder {
        @include text(var(--black-text), .75rem, 700, 0.02em);
    }
    
    &__input:focus {
        outline: none;
    }
    
    &__submit {
        background-color: transparent;
        text-align: center;
        padding: .75rem 1.25rem;
        border: .125rem solid #fff;
        border-radius: 1rem;
        width: 7.8125rem;
        @include text(var(--text), .75rem, 500, 0.02em);
    }
}

.balance__hint {
    position: absolute;
    top: 30%;
}

@media (min-width: 47.9988rem) {
    .balance__text {
        display: flex;
        gap: .625rem;
    }
    .balance__form {
        flex-direction: row;
    }
    .balance__hint {
        position: absolute;
        top: 16%;
    }
}

