@use "../../../shared/ui/styles/variables.scss" as *;

.button {
    background-color: var(--red-color);
    padding: 12px 24px;
    border-radius: 16px;
    @include text(var(--bg), 12px, 700, 0.02em);
    width: 125px;
}