.container {
    width: 17.625rem;
    padding: 0rem .9375rem;
    border: .0625rem solid red;
    margin: 0 auto;
}

@media (min-width: 47.99875em) {
    .container {
        width: 41.5625rem;
        padding: 0px 1.25rem;
    }
    
}

@media (min-width: 79.9988rem) {
    .container {
        width: 66.25rem;
    }
    
}