@use '../../../shared/ui/styles/variables.scss' as *;

.header {
    background-color: var(--bg);
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7813rem 0rem;
    position: relative;
}

.header__first__thumb {

}

.logo {
    position: absolute;
    left: 0;
    top: .75rem;
    @media (any-hover: hover) {
        &:hover, 
        &:focus {
            cursor: pointer;
        }
    }
}

.logo__icon {
    position: relative;
    width: 2.4375rem;
    height: 1.9375rem;
}

.logo__text {
    position: absolute;
    top: .5625rem;
    left: 1.375rem;
    @include text(var(--black-text), 1rem, 800, 0.05em)
}

.header__second__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .9375rem;
}

.user {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user__avatar {
    @include text(var(--dark-text), .75rem, 700, 0.05em);
    border-radius: 100%;
    background-color: #f5f6fa;
    width: 2rem;
    height: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user__name {
    display: none;
}

.logout {
    transition: all 0.5s var(--animation);
}

@media (any-hover: hover) {
    .logout:hover,
    .logout:focus {
        fill: #52555f;
        color: var(--dark-text);
    }
}


.logout__text {
    display: none;
}

.logout__icon {
    fill: #cbccd0;
    width: 1rem;
    height: 1rem;
    transition: all 0.4s var(--animation);
}

@media (any-hover: hover) {
    .logout:hover .logout__icon,
    .logout:focus .logout__icon {
        fill: #52555f;
}
}



@media (min-width: 47.99875em) {
    .header {
        position: relative;
        padding: .75rem;
    }
    
    .header__inner {
        position: static;
    }
    
    
    .logo {
        left: 1.625rem;
    }

    .header__second__thumb {
        position: absolute;
        right: 1.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .9375rem;
    }
    
    .user {
        gap: .625rem;
        border-right: .0625rem solid #e0e5eb;
        padding-right: 1.25rem;
    }
    
    .user__name {
        display: block;
        @include text(var(--dark-text), .75rem, 400, 0.04em);
        text-transform:none;
    }

    
    .logout__text {
        display: block;
        @include text(var(--dark-text), .75rem, 400, 0.04em);
        text-transform:none;
        transition: all 0.5s var(--animation);          
    }
    @media (any-hover: hover) {
        .logout__text:hover,
        .logout__text:focus {
            text-decoration: underline; 
        }
    }
    
    
    .logout__icon {
        display: none;
    }
}

@media (min-width: 79.9988rem) {
    
}