@use '../../../shared/ui/styles/variables.scss' as *;

.header {
    background-color: var(--bg);
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12.5px 0px;
    position: relative;
}

.header__first__thumb {

}

.logo {
    position: absolute;
    left: 0;
    top: 12px;
}

.logo__icon {
    position: relative;
    width: 39px;
    height: 31px;
}

.logo__text {
    position: absolute;
    top: 9px;
    left: 22px;
    @include text(var(--black-text), 16px, 800, 0.05em)
}

.header__second__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.user {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user__avatar {
    @include text(var(--dark-text), 12px, 700, 0.05em);
    border-radius: 100%;
    background-color: #f5f6fa;
    width: 32px;
    height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user__name {
    display: none;
}

.logout {
    transition: all 0.5s var(--animation);
}
.logout:hover,
.logout:focus {
    fill: #52555f;
    color: var(--dark-text);
}

.logout__text {
    display: none;
}

.logout__icon {
    fill: #cbccd0;
    width: 16px;
    height: 16px;
    transition: all 0.4s var(--animation);
}


.logout:hover .logout__icon,
.logout:focus .logout__icon {
    fill: #52555f;
}


@media screen and (min-width: 768px) {
    .header {
        position: relative;
        padding: 12px;
    }
    
    .header__inner {
        position: static;
    }
    
    
    .logo {
        left: 26px;
    }

    .header__second__thumb {
        position: absolute;
        right: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
    .user {
        gap: 10px;
        border-right: 1px solid #e0e5eb;
        padding-right: 20px;
    }
    
    .user__name {
        display: block;
        @include text(var(--dark-text), 12px, 400, 0.04em);
        text-transform:none;
    }

    
    .logout__text {
        display: block;
        @include text(var(--dark-text), 12px, 400, 0.04em);
        text-transform:none;
        transition: all 0.5s var(--animation);          
    }
    .logout__text:hover,
    .logout__text:focus {
        text-decoration: underline; 
    }
    
    .logout__icon {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    
}