@use '../../../shared/ui/styles/variables.scss' as *;

.section {
    
}
.content {

}
.title {
    padding-top: 3.875rem;
    @include text(var(--black-text), 4rem, 900, 0.02em);
    text-transform: none;
}
.subtitle {
    @include text(var(--dark-text), .8125rem, 700, 0.15em);
    margin-left: 3.125rem;
    margin-top: -40px;
}


@media (min-width: 47.99875em) {
    .section > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content {}
    .title {
        @include text(var(--black-text), 6.375rem, 900, 0.02em);
        text-transform: none;
        margin-left: 0;
    }
    .subtitle {
        @include text(var(--dark-text), 1rem, 700, 0.18em);
        margin-left: 3.625rem;
        margin-top: -80px;
    }
  }

  @media (min-width: 79.9988em) {
    .section > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 7.4375rem;
        padding: 6.4375rem 0;
    }
    .content {}
    .title {
        @include text(var(--black-text), 6.375rem, 900, 0.02em);
        text-transform: none;
        margin-left: 1.8125rem;
        margin-top: -80px;
    }
    .subtitle {
        @include text(var(--dark-text), 1rem, 700, 0.18em);
    }
  }