.homepage__balance-section {
  display: flex;
  justify-content: flex-end;
  gap: 10.875rem;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}
.homepage__calculate-link {
  display: flex;
  gap: 0.9375rem;
}
.homepage__calculate-text {
  color: var(--text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-transform: none;
}
.homepage__calculate-icon {
  fill: #52555f;
  width: 0.875rem;
  height: 0.875rem;
}
.homepage__tab-button {
  padding: 0.9375rem 2.625rem;
  border-radius: 1.25rem 1.25rem 0 0;
  background-color: #fafbfd;
  width: 8.625rem;
  transition: all 0.3s var(--animation);
}
@media (any-hover: hover) {
  .homepage__tab-button:hover, .homepage__tab-button:focus {
    background-color: #fefefe;
  }
}
.homepage__tab-link {
  color: var(--black-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  transition: all 0.3s var(--animation);
}
.homepage__tab-button:hover .homepage__tab-link, .homepage__tab-button:focus .homepage__tab-link {
  color: var(--red-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.homepage__transaction-form {
  border-radius: 0 1.875rem 1.875rem 1.875rem;
  box-shadow: 0 0.625rem 3.75rem 0 rgba(170, 178, 197, 0.2);
  background: #fff;
  padding: 0 1.25rem;
}
.homepage__transaction-thumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.0625rem;
  padding-bottom: 3.75rem;
}
.homepage__input-thumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.125rem solid #f5f6fb;
  border-radius: 1rem 1rem 1rem 0rem;
}
.homepage__date-button {
  background-color: transparent;
  color: var(--dark-text);
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 0.75rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.homepage__date-icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: #52555f;
}
.homepage__description-input {
  color: var(--dark-text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-transform: none;
  height: 2.5rem;
  border-right: 0.125rem solid #f5f6fb;
  padding-left: 1.25rem;
}
.homepage__description-input:focus {
  outline: none;
}
.homepage__description-input::-moz-placeholder {
  color: var(--light-text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-transform: none;
}
.homepage__description-input::placeholder {
  color: var(--light-text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-transform: none;
}
.homepage__category-select {
  color: var(--light-text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-transform: none;
  height: 2.5rem;
  border-right: 0.125rem solid #f5f6fb;
  padding-left: 1.25rem;
  padding-right: 1.375rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.homepage__category-select:focus {
  outline: none;
}
.homepage__amount-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding-right: 1.25rem;
}
.homepage__amount-input {
  color: var(--dark-text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-transform: none;
  text-align: right;
}
.homepage__amount-input:focus {
  outline: none;
}
.homepage__amount-input::-moz-placeholder {
  color: var(--light-text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-transform: none;
}
.homepage__amount-input::placeholder {
  color: var(--light-text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-transform: none;
}
.homepage__calculator-icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: #52555f;
}
.homepage__action-buttons {
  display: flex;
  gap: 0.9375rem;
}/*# sourceMappingURL=Homepage.module.css.map */